[user]
	name = similicious
	email = mail@similicious.de

[alias]
	lg = log --graph --oneline --decorate --branches --exclude=refs/stash --all
	staash = stash -all
	fetch-main = fetch origin main:main

[fetch]
    prune = true

[pull]
	rebase = true

[include]
    path = ~/.gitconfig-untracked

[includeIf "gitdir:/Users/s.wienecke/repos/"]
    path = ~/.gitconfig-work