[user]
	name = similicious
	email = mail@similicious.de

[alias]
	lg = log --graph --oneline --decorate --branches --exclude=refs/stash --all
	staash = stash -all
	fetch-main = fetch origin main:main
	ri = rebase main --autosquash --interactive

[fetch]
	prune = true
	pruneTags = true
	all = true

[pull]
	rebase = true

[push]
	autoSetupRemote = true
	default = simple
	followTags = true

[column]
	ui = auto

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[init]
	defaultBranch = main

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = 
	renames = true

[help]
	autocorrect = prompt
	
[include]
    path = ~/.gitconfig-untracked

[includeIf "gitdir:/Users/s.wienecke/repos/"]
    path = ~/.gitconfig-work