[user]
	name = similicious
	email = mail@similicious.de

[alias]
	lg = log --graph --oneline --decorate --branches --exclude=refs/stash --all

[fetch]
    prune = true

[includeIf "gitdir:C:/Projects_Git/"]
	path = .gitconfig-work